{% extends 'base.html' %}

{% block content %}

    <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 font-italic">My blog</h1>
            <hr style="border: solid 0.5px white;">
            <p class="lead">블로그 소개</p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <h4 class="pb-4 mb-4 border-bottom">전체글({{ blogs.count }})</h4>
        </div>

        {% for blog in blogs.all %}
        <div class="col-sm-12">
            <div class="card mb-3">
                <div class="card-body">
                    <h3 class="card-title">{{ blog.title }}</h3>
                    <p>{{ blog.pub_date }}</p>
                    <p class="card-text">{{ blog.summary }}</p>
                    <a class="btn btn-sm btn-outline-secondary" href="{% url 'detail' blog.id %}">자세히 보기</a>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
       
{% endblock %}